[project]
	description = The coding of your beloved mIRC-scripted bot, ToonTracker
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael (mgracer48)
[access "refs/for/refs/*"]
	read = group user/Michael (mgracer48)
	push = group user/Michael (mgracer48)
	label-Code-Review = -2..+2 group user/Michael (mgracer48)
	label-Verified = -1..+1 group user/Michael (mgracer48)
	rebase = group user/Michael (mgracer48)
	removeReviewer = group user/Michael (mgracer48)
	submit = group user/Michael (mgracer48)
[access "refs/heads/*"]
	read = group user/Michael (mgracer48)
	create = group user/Michael (mgracer48)
	push = +force group user/Michael (mgracer48)
	pushMerge = group user/Michael (mgracer48)
[access "refs/tags/*"]
	push = +force group user/Michael (mgracer48)
	pushTag = group user/Michael (mgracer48)
	pushSignedTag = group user/Michael (mgracer48)
